doctype html
head
    meta(charset='UTF-8')
    link(rel='icon' href='/favicon.ico')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    style
        include ../public/style.css
    title Verify Email
body
    section.max-w-2xl.px-6.py-8.mx-auto.bg-white(class='dark:bg-gray-900')
        header
            div.flex.justify-center
                a.inline.w-24.h-24(href='https://www.chenyifaer.com')
                    img.w-24.h-24.rounded-full(src='https://www.chenyifaer.com/portal/logo.jpg' alt='cyf')
        main.mt-8
            h2.mt-6.text-gray-700(class='dark:text-gray-200') Hi #{username},
            p.mt-2.leading-loose.text-gray-600(class='dark:text-gray-300')
                | Welcome to CYF Insider! You&rsquo;re already on your way to creating beautiful visual products.
                | The verification link is valid within #{expires} minutes.
                | If you have any questions,
                |
                a.underline.transition-colors.duration-200(href='#' class='hover:text-blue-600 dark:hover:text-blue-400') please get in touch
                | .
            div.my-6
                a.inline-flex.items-center.justify-center.w-auto.px-4.text-sm.overflow-hidden.text-white.transition-colors.duration-300.bg-blue-600.rounded-lg.shadow(href=link class='py-2.5 hover:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-80')
                    svg.w-5.h-5.mx-2.fill-current(viewbox='-28 0 512 512.00075' xmlns='http://www.w3.org/2000/svg')
                        path(d='m432.320312 215.121094-361.515624-208.722656c-14.777344-8.53125-32.421876-8.53125-47.203126 0-.121093.070312-.230468.148437-.351562.21875-.210938.125-.421875.253906-.628906.390624-14.175782 8.636719-22.621094 23.59375-22.621094 40.269532v417.445312c0 17.066406 8.824219 32.347656 23.601562 40.878906 7.390626 4.265626 15.496094 6.398438 23.601563 6.398438s16.214844-2.132812 23.601563-6.398438l361.519531-208.722656c14.777343-8.53125 23.601562-23.8125 23.601562-40.878906s-8.824219-32.347656-23.605469-40.878906zm-401.941406 253.152344c-.21875-1.097657-.351562-2.273438-.351562-3.550782v-417.445312c0-2.246094.378906-4.203125.984375-5.90625l204.324219 213.121094zm43.824219-425.242188 234.21875 135.226562-52.285156 54.539063zm-6.480469 429.679688 188.410156-196.527344 54.152344 56.484375zm349.585938-201.835938-80.25 46.332031-60.125-62.714843 58.261718-60.773438 82.113282 47.40625c7.75 4.476562 8.589844 11.894531 8.589844 14.875s-.839844 10.398438-8.589844 14.875zm0 0')
                    span.mx-2
                        | Open link to verify email
            p.mt-2.text-gray-600(class='dark:text-gray-300')
                | Thanks,
                br
                a.text-blue-600(href='https://kjxbyz.com' class='hover:underline dark:text-blue-400') KJXBYZ
        footer.mt-8
            p.mt-3.text-gray-500.text-center(class='dark:text-gray-400') &copy; 2023-#{copyright} CYF Insider. All Rights Reserved.
